<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <marketingDefinitions>
            <campaign>
                <definitionManager>
                    <config>
                        <activationFeed>
                            <observer type="Sitecore.Marketing.Search.Observers.UpdateSearchIndexObserver`1[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing]], Sitecore.Marketing.Search"
                                      set:type="Sitecore.Support.Marketing.Search.Observers.UpdateSearchIndexObserver`1[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing]], Sitecore.Support.255663"/>
                        </activationFeed>
                    </config>
                </definitionManager>
            </campaign>
            <funnel>
                <definitionManager>
                    <config>
                        <activationFeed>
                            <observer type="Sitecore.Marketing.Search.Observers.UpdateSearchIndexObserver`1[[Sitecore.Marketing.Definitions.Funnels.IFunnelDefinition, Sitecore.Marketing]], Sitecore.Marketing.Search"
                                      set:type="Sitecore.Support.Marketing.Search.Observers.UpdateSearchIndexObserver`1[[Sitecore.Marketing.Definitions.Funnels.IFunnelDefinition, Sitecore.Marketing]], Sitecore.Support.255663"/>
                        </activationFeed>
                    </config>
                </definitionManager>
            </funnel>
        </marketingDefinitions>
    </sitecore>
</configuration>